html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

::selection {
  background: #ffffff;
  color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #08090b;
}

::-webkit-scrollbar-thumb {
  background: #292a2e;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414247;
}